#[link(name = "rustmeta",
       vers = "0.2",
       uuid = "f19085c3-dd45-467d-b76b-cb07e5ecd13c")];

#[crate_type = "lib"];

#[no_core];

use core(vers = "0.2");
use std(vers = "0.2");
use rustsyntax(vers = "0.2");

import core::*;
import syntax = rustsyntax;