#[link(name = "std",
       vers = "0.3",
       uuid = "122bed0b-c19b-4b82-b0b7-7ae8aead7297",
       url = "https://github.com/mozilla/rust/tree/master/src/libstd")];

#[comment = "The Rust standard library"];
#[license = "MIT"];
#[crate_type = "lib"];
//! The Rust standard library

#[no_core];

#[allow(vecs_implicitly_copyable)];

use core(vers = "0.3");
import core::*;

export net, net_tcp, net_ip, net_url;
export uv, uv_ll, uv_iotask, uv_global_loop;
export c_vec, timer;
export bitv, deque, fun_treemap, list, map;
export smallintmap, sort, treemap;
export rope, arena, par;
export ebml, dbg, getopts, json, rand, sha1, term, time, prettyprint;
export test, tempfile, serialization;
export cmp;
export base64;

// General io and system-services modules

module net;
module net_ip;
module net_tcp;
module net_url;

// libuv modules
module uv;
module uv_ll;
module uv_iotask;
module uv_global_loop;


// Utility modules

module c_vec;
module timer;


// Collections

module bitv;
module deque;
module fun_treemap;
module list;
module map;
module rope;
module smallintmap;
module sort;
module treemap;

// And ... other stuff

module ebml;
module dbg;
module getopts;
module json;
module sha1;
module md4;
module tempfile;
module term;
module time;
module prettyprint;
module arena;
module par;
module cmp;
module base64;

#[cfg(unicode)]
module unicode;


// Compiler support modules

module test;
module serialization;

// Local Variables:
// mode: rust;
// fill-column: 78;
// indent-tabs-mode: nil
// c-basic-offset: 4
// buffer-file-coding-system: utf-8-unix
// End:
