#[path = "module-polymorphism-files"]
module my_float {

    // The type of the float
    import inst::T;

    // Define T as float
    #[path = "inst_float.rs"]
    module inst;

    // Add in the implementation from a single source file
    #[path = "template.rs"]
    module template;

}

#[path = "module-polymorphism-files"]
module my_f64 {

    import inst::T;

    // Define T as f64
    #[path = "inst_f64.rs"]
    module inst;

    // Use the implementation for the same source file!
    #[path = "template.rs"]
    module template;

}

#[path = "module-polymorphism-files"]
module my_f32 {
    import inst::T;

    #[path = "inst_f32.rs"]
    module inst;

    #[path = "template.rs"]
    module template;

}
