
#[path = "module-polymorphism4-files"]
module cat {

    import inst::*;

    #[path = "cat.rs"]
    module inst;

    #[path = "trait.rs"]
    module trait;

}

#[path = "module-polymorphism4-files"]
module dog {

    import inst::*;

    #[path = "dog.rs"]
    module inst;

    #[path = "trait.rs"]
    module trait;

}
