//! Rustdoc - The Rust documentation generator

#[link(name = "rustdoc",
       vers = "0.3",
       uuid = "f8abd014-b281-484d-a0c3-26e3de8e2412",
       url = "https://github.com/mozilla/rust/tree/master/src/rustdoc")];

#[comment = "The Rust documentation generator"];
#[license = "MIT"];
#[crate_type = "bin"];

#[no_core];

#[allow(vecs_implicitly_copyable,
        non_implicitly_copyable_typarams)];

use core(vers = "0.3");
use std(vers = "0.3");
use rustc(vers = "0.3");
use syntax(vers = "0.3");

import core::*;
import std::par;

module config;
module parse;
module extract;
module attr_parser;
module doc;
module markdown_index_pass;
module markdown_pass;
module markdown_writer;
module fold;
module path_pass;
module attr_pass;
module tystr_pass;
module prune_hidden_pass;
module desc_to_brief_pass;
module text_pass;
module unindent_pass;
module trim_pass;
module astsrv;
module demo;
module sort_pass;
module sort_item_name_pass;
module sort_item_type_pass;
module page_pass;
module sectionalize_pass;
module escape_pass;
