#[link(name = "math",
       vers = "0.2",
       uuid = "eb95f578-c80d-438f-b10c-1b4bcbb6b13a",
       url = "https://github.com/mozilla/rust/tree/master/src/libmath")];

#[comment = "The Rust math library"];
#[license = "MIT"];
#[crate_type = "lib"];

#[no_core];

export f32;
export f64;
export float;

// Some magic to make math testable.
#[cfg(test)]
mod std {
    use std(vers = "0.2");
    import std::test;
}

mod c_bessel;

#[path="math_impl"]
mod f32 {
    export t;
    export NaN, infinity, neg_infinity;
    export acos, asin, atan, atan2, cbrt, ceil, copysign, cos, cosh, floor;
    export erf, erfc, exp, expm1, exp2, abs, abs_sub, mul_add, fmax, fmin;
    export nextafter, frexp, hypot, ldexp, lgamma, ln, log_radix, ln1p;
    export log10, log2, ilog_radix, modf, pow, round, sin, sinh, sqrt, tan;
    export tanh, tgamma, trunc;
    export j0, j1, jn, y0, y1, yn;
    export is_NaN, negated, inverse, add, sub, mul, div, rem;
    export lt, le, eq, ne, ge, gt;
    export is_positive, is_negative, is_nonpositive, is_nonnegative;
    export is_zero, is_infinite, signbit, logarithm, pow_with_uint;
    export extensions;
    export consts;
    export j0, j1, jn, y0, y1, yn;

    import impl::*;
    import cmath::lib::*;
    import generic::*;
    import generic::extensions;

    mod generic;

    #[path="f32.rs"]
    mod impl;

    #[path="c_float.rs"]
    mod cmath;
}

#[path="math_impl"]
mod f64 {
    export t;
    export NaN, infinity, neg_infinity;
    export acos, asin, atan, atan2, cbrt, ceil, copysign, cos, cosh, floor;
    export erf, erfc, exp, expm1, exp2, abs, abs_sub, mul_add, fmax, fmin;
    export nextafter, frexp, hypot, ldexp, lgamma, ln, log_radix, ln1p;
    export log10, log2, ilog_radix, modf, pow, round, sin, sinh, sqrt, tan;
    export tanh, tgamma, trunc;
    export j0, j1, jn, y0, y1, yn;
    export is_NaN, negated, inverse, add, sub, mul, div, rem;
    export lt, le, eq, ne, ge, gt;
    export is_positive, is_negative, is_nonpositive, is_nonnegative;
    export is_zero, is_infinite, signbit, logarithm, pow_with_uint;
    export extensions;
    export consts;
    export j0, j1, jn, y0, y1, yn;

    import impl::*;
    import cmath::lib::*;
    import generic::*;
    import generic::extensions;

    mod generic;

    #[path="f64.rs"]
    mod impl;

    #[path="c_double.rs"]
    mod cmath;
}

#[cfg(target_arch="x86")]
mod fXY {
    export consts, t;
    import f32::consts;
    import f32::t;
}

#[cfg(target_arch="x86_64")]
mod fXY {
    export consts, t;
    import f64::consts;
    import f64::t;
}

#[path="math_impl"]
mod float {
    export t, m;
    export NaN, infinity, neg_infinity;
    export acos, asin, atan, atan2, cbrt, ceil, copysign, cos, cosh, floor;
    export erf, erfc, exp, expm1, exp2, abs, abs_sub, mul_add, fmax, fmin;
    export nextafter, frexp, hypot, ldexp, lgamma, ln, log_radix, ln1p;
    export log10, log2, ilog_radix, modf, pow, round, sin, sinh, sqrt, tan;
    export tanh, tgamma, trunc;
    export j0, j1, jn, y0, y1, yn;
    export is_NaN, negated, inverse, add, sub, mul, div, rem;
    export lt, le, eq, ne, ge, gt;
    export is_positive, is_negative, is_nonpositive, is_nonnegative;
    export is_zero, is_infinite, signbit, logarithm, pow_with_uint;
    export extensions;
    export consts;
    export j0, j1, jn, y0, y1, yn;

    import impl::*;
    import cmath::lib::*;
    import generic::*;
    import generic::extensions;

    mod generic;

    #[path="float.rs"]
    mod impl;

    #[cfg(target_arch="x86")]
    #[path="c_float.rs"]
    mod cmath;

    #[cfg(target_arch="x86_64")]
    #[path="c_double.rs"]
    mod cmath;
}

mod libc;
